
   <head>
      <meta charset="utf-8">
      <!-- <title>Responsive cardshov</title> -->
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <style>
      
      @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap');
            /* *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat',sans-serif;
            } */
            .cardshov{
            max-width: 1100px;
            margin: 0 auto;
            text-align: center;
            padding: 30px;
            }
            .cardshov h2.header{
            font-size: 40px;
            margin: 0 0 30px 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            }
            .services{
            display: flex;
            align-items: center;
            }
            .content{
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            margin: 10px;
            padding: 10px;
            /* border: 2px solid black; */
            /* border-style: solid; */
            /* border-color: #71bf44; */
            border-radius: 4px;
            transition: all .3s ease;
            }
            .content .fab{
            font-size: 70px;
            margin: 16px 0;
            }
            .content > *{
            flex: 1 1 100%;
            }
            .content:hover{
            color: white;
            }
            .content:hover a{
            border-color: white;
            background: white;
            }
            .content-1:hover{
            border-color:#71bf44; 
            background:#71bf44;
            }
            .content-1:hover a{
            color: #71bf44;
            }
             .content-1:hover p{
            color: white;
            }
            .content-2:hover{
            border-color:#71bf44;
            background:#71bf44;
            }
            .content-2:hover a{
            color: #71bf44;
            }
            .content-2:hover p{
            color: white;
            }
            .content-3:hover{
            border-color: #71bf44;
            background: #71bf44;
            }
            .content-3:hover a{
            color: #71bf44;
            }
            .content-3:hover p{
            color: white;
            }
            .content h2{
            font-size: 20px;
            font-weight: bold;
            margin: 16px 0;
            letter-spacing: 1px;
            text-transform: uppercase;
            color:#71bf44;
            }
            .content:hover h2{
            font-size: 20px;
            font-weight: bold;
            margin: 16px 0;
            letter-spacing: 1px;
            text-transform: uppercase;
            color:white;
            }
            .content p{
            font-size: 15px;
            font-family: 'Poppins',sans-serif;
            }
            .content a{
            margin: 22px 0;
            background-color: #71bf44;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            border: 1px #71bf44;
            padding: 15px 0;
            border-radius: 25px;
            transition: .3s ease;
            }
            .content a:hover{
            border-radius: 4px;
            }
            @media (max-width: 900px) {
            .services{
                display: flex;
                flex-direction: column;
            }
            }
      </style>
   </head>

      <div class="cardshov">
         <h2 class="header">
            Our products
         </h2>
         <div class="row-50"></div>
         <p><strong><a href="https://www.netageorg.com">Nextage Organics</a></strong> offers a wide range of products that are fabricated to assist your nutrition goals, irrespective of the complexity to do so. 
<strong><a href="https://www.netageorg.com">Nextage Organics</a></strong> has a wide range of products that are manufactured to support your nutrition goals, no matter how complex they seem. Whether it’s maintaining an ideal and healthy weight or striving to improve your strength and performance, we are your one stop shop for support and guidance.</p>
         <div class="row-50"></div>
         <div class="services">
            <div class="content content-1">
               <div ><img height="310"  src="../images/products/100x100-1/nx_vanillali.png"></div>
               <h2>
                   <p><strong>Daily Nutrition</strong></p> Vanilla
               </h2>
               <p>
                  Weight control
               </p>
               <a href="#">&#8377 2000</a>
            </div>
            <div class="content content-2">
               <div ><img height="310"  src="../images/products/100x100-1/nx_d_mangoli.png"></div>
               <h2>
                   <p><strong>Daily Nutrition</strong></p>Mango
               </h2>
               <p>
                  Nutricious diet meal
               </p>
               <a href="#">&#8377 2000</a>
            </div>
            <div class="content content-3">
              <div ><img height="310"  src="../images/products/100x100-1/nx_d_strawli.png"></div>
               <h2>
                   <p><strong>Daily Nutrition</strong></p> Strawberry
               </h2>
               <p>
                  Nutricious diet meal
               </p>
               <a href="#">&#8377 2000</a>
            </div>
         </div>

         <div class="services">
            <div class="content content-1">
               <div ><img height="310"  src="../images/products/100x100-1/nx_d_moringali.png"></div>
               <h2>
                  <p><strong>Daily Nutrition</strong></p>Kesar and Elaichi
               </h2>
               <p>
                  Weight control
               </p>
               <a href="#">&#8377 2000</a>
            </div>
            <div class="content content-2">
               <div ><img height="310"  src="../images/products/100x100-1/nx_r_vanillali.png"></div>
               <h2>
                   <p><strong>Daily Nutrition</strong></p>Moringa Leaf Powder
               </h2>
               <p>
                   Boosts strength and stamina
               </p>
               <a href="#">&#8377 2000</a>
            </div>
            <div class="content content-3">
              <div ><img height="310"  src="../images/products/100x100-1/nx_d_chocoli.png"></div>
               <h2>
                 <p><strong>Daily Nutrition</strong></p> chocolate
               </h2>
               <p>
                  Weight control
               </p>
               <a href="#">&#8377 2000</a>              
            </div>
         </div>


         <div class="services">
            <div class="content content-1">
               <div ><img height="310"  src="../images/products/100x100-1/nx_d_americaniceli.png"></div>
               <h2>
                   <p><strong>Daily Nutrition</strong></p>American icecream
               </h2>
               <p>
                  Nutritious meal shake 
               </p>
               <a href="#">&#8377 2000</a>
            </div>
            <div class="content content-2">
               <div ><img height="310"  src="../images/products/100x100-1/nx_d_pistali.png"></div>
               <h2>
                    <p><strong>Daily Nutrition</strong></p>Pista Badam
               </h2>
               <p>
                   Boosts strength and stamina
               </p>
               <a href="#">&#8377 2000</a>
            </div>
            <div class="content content-3">

               <div ><img height="310"  src="../images/products/100x100-1/nx_d_melonli.png"></div>
               <h2>
                   <p><strong>Daily Nutrition</strong></p>Watermelon
               </h2>
               <p>
                   Boosts strength and stamina
               </p>
               <a href="#">&#8377 2000</a>
            </div>
         </div>


         <div class="services">
            <div class="content content-1">
               <div ><img height="310"  src="../images/products/100x100-1/nx_p_buckli.png"></div>
               <h2>
                   <p><strong>Daily Protein</strong></p>Buck Wheat 
               </h2>
               <p>
                   Boosts strength and stamina
               </p>
               <a href="#">&#8377 2000</a>
            </div>
            <div class="content content-2">
               <div ><img height="310"  src="../images/products/100x100-1/nx_p_milkli.png"></div>
               <h2>
                    <p><strong>Daily Protein</strong></p>Milk Protein 
               </h2>
               <p>
                  For fitness and stamina daily
               </p>
               <a href="#">&#8377 2000</a>
            </div>
            <div class="content content-3">

               <div ><img height="310"  src="../images/products/100x100-1/nx_p_plantli.png"></div>
               <h2>
                   <p><strong>Daily Protein</strong></p>Plant Peas
               </h2>
               <p>
                   Boosts strength and stamina
               </p>
               <a href="#">&#8377 2000</a>
            </div>
         </div>

         <div class="services">
            <div class="content content-1">
               <div ><img height="310"  src="../images/products/100x100-1/nx_p_soyali.png"></div>
               <h2>
                   <p><strong>Daily Protein</strong></p>Soya 
               </h2>
               <p>
                  Boosts strength and stamina
               </p>
               <a href="#">&#8377 2000</a>
            </div>
            <div class="content content-2">
               <div ><img height="310"  src="../images/products/100x100-1/nx_g_morli.png"></div>
               <h2>
                    <p><strong>Daily Greens</strong></p>
                    Moringa Leaf Powder 
               </h2>
               <p>
                   Boosts strength and stamina
               </p>
               <a href="#">&#8377 2000</a>
            </div>
            <div class="content content-3">

               <div ><img height="310"  src="../images/products/100x100-1/nx_p_plantli.png"></div>
               <h2>
                   <p><strong>Daily Protein</strong></p>Plant Peas
               </h2>
               <p>
                   Boosts strength and stamina
               </p>
               <a href="#">&#8377 2000</a>
            </div>
         </div>


         

</div>