---
// import Header5 from '../components/Header5.astro';
// import Footer from '../components/Footer.astro';
import Subscribe from '../components/Subscribe.astro';
// import Header from '../components/Header1.astro';
import Baselayout from '../layout/Baselayout.astro'; 
---

  <Baselayout>
   


    <section class="nxo-block" style="background-image: url(./images/nx_bg15.png)">
      <div class="container">
        <div class="row justify-content-center pb-5">
          <div class="col-12 text-center">
            <h1><strong> Our Story</strong> </h1>
          </div>
        </div>

        <div class="row text-left align-items-center pt-5 pb-md-5">
          <div class="col-4 col-md-5">
            <img alt="image" class="img-fluid" src="./images/nx_health34.png">
          </div>

          <div class="col-12 col-md-5 m-md-auto">
            <h3>Health Care Company </h3>
            <div class="row-52"></div>
            <p class="lead">  <a href="https://www.netageorg.com">Nextage Organics</a>  is a nutrition 
                            company that manufactures and 
                            sells fine and superior quality 
                            whole food nutrition products, 
                            with a dedication to make the 
                            community healthier and offer 
                            a happy lifestyle to everyone.</p>
            <!-- <p><a href="https://www.nextageorg.com">Learn More <i class="fas fa-angle-right"></i></a></p> -->
          </div>
        </div>

        <div class="row text-left align-items-center pt-5 pb-md-5">
          <div class="col-4 col-md-5 m-md-auto order-md-5">
            <img alt="image" class="img-fluid" src="./images/nx_p10.png">
          </div>

          <div class="col-12 col-md-5">
            <h3>Premium Supplements  </h3>
            <div class="row-52"></div>
            <p class="lead"><a href="https://www.netageorg.com">Nextage Organics</a> has been 
                            researching and innovating 
                            ways to deliver the appropriate 
                            nutrients to your body so you
                            feel your best. You can everyday, 
                            take advantage of our endeavour
                            with <a href="https://www.netageorg.com">Nextage Organics</a> premium
                            supplements and health 
                            products.</p>
            <!-- <p><a href="https://www.nextageorg.com">Learn More <i class="fas fa-angle-right"></i></a></p> -->
          </div>
        </div>

        <div class="row text-left align-items-center pt-5">
          <div class="col-4 col-md-5">
            <img alt="image" class="img-fluid" src="./images/nx_health50.png">
          </div>

          <div class="col-12 col-md-5 m-md-auto">
            <h3>Quality</h3>
            <div class="row-52"></div>
            <p class="lead">  We provide excellent quality 
                              products which are formulated 
                              under guidance of amazing 
                              health experts and bring to your 
                              doorsteps a healthy nutritional 
                              supplement to enhance a healthy 
                              lifestyle. 
            </p>
            <!-- <p><a href="https://www.nextageorg.com">Learn More <i class="fas fa-angle-right"></i></a></p> -->
          </div>
        </div>
      </div>
    </section>

    <section class="nxo-block" style="background-color: #f4fef5;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h1><strong>   What is <a href="https://www.netageorg.com">Nextage Organics</a>  ?   </strong></h1>
            <div class="row-50"></div>
            <p class="lead"><a href="https://www.netageorg.com">Nextage Organics</a> is that forum of business which yields success in ideas, opportunities, growth, monetary 
              status and education as well. With <a href="https://www.netageorg.com">Nextage Organics</a> you can experience satisfaction and development 
              in your endeavours which yields long lasting results.</p>

            <img alt="image" class="img-fluid mt-5" src="./images/slide3v1.png">
          </div>
        </div>

        <div class="row text-left pt-5">
          <div class="col-12 col-md-6">
            <h3><strong>Vision </strong></h3>
            <div class="row-52"></div>
            <p>Team of visionaries from the health industry 
                with the vision to change the way people 
                perceive nutrition. We strive to provide quality 
                nutrition food supplements and programmes 
                to fight obesity, through innovation and best in 
                class products that are compliant to standards 
                and regulation providing a platform for all 
                individuals to build a healthy lifestyle and 
                stimulate individuals to contribute to the well-
                being of society while providing a strong 
                earning opportunity to our channel partners.</p>

            <!-- <p><a href="https://www.nextageorg.com">Learn More <i class="fas fa-angle-right"></i></a></p> -->
          </div>
          <div class="col-12 col-md-6 pt-4 pt-md-0">
            <h3><strong>Mission </strong></h3>
            <div class="row-52"></div>
            <p> Making lives healthier and richer with quality nutrition 
                and unrivalled opportunities. To become the most 
                valued health partner of every individual who relates
                to us through our channel partners. Also, to provide 
                nutrition products which mainly fights obesity at an 
                affordable price, helping our channel partners to set 
                up their store and Diet counselling centres in every 
                district of our country, and to create a business 
                network which caters to the centre to bring in business 
                and thus creating a win-win to the individual associated 
                with us. Ease of doing business is our priority. </p>

            <!-- <p><a href="https://www.nextageorg.com">Learn More <i class="fas fa-angle-right"></i></a></p> -->
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="nxo-block">
          <div class="container">
            <Subscribe/>
          </div>
    </section> -->




      <section class="nxo-block  pt-0">
          <div class="container">
            <div class="row text-center justify-content-center ">
                <img alt="image" class="img-fluid " src="../images/nx_health51.jpg">
            </div>
                
            <Subscribe/>
          </div>
      </section>


    </Baselayout>



