---
// import Header5 from '../components/Header5.astro';
import Footer from '../components/Footer.astro';
import Timeline from '../components/Timeline.astro';
import Card from '../components/cards/Card.astro';
import Card1 from '../components/cards/Card1.astro';
import Card2 from '../components/cards/Card2.astro';
import Card3 from '../components/cards/Card3.astro';
import Subscribe from '../components/Subscribe.astro';
// import Gallery from '../components/Gallery.astro';
import Baselayout from '../layout/Baselayout.astro'; 
---
  <Baselayout title="Nextage Organics">
    

<section class="nxo-block pb-0"  >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1><strong>Nutrition Program by Best Nutritionist | Dietician</strong> </h1>
        <div class="row-50"></div> 
        <p class="lead"> Customers will be counseled by experienced Dietitians following a comprehensive 
              health checks and recommendations tailored for individuals</p>

        <img alt="image" class="img-fluid mt-5" src="../images/nx_health41.jpg">
      </div>
    </div>

    <!-- <div class="row text-left pt-5">
       
    </div> -->
  </div>
</section>


<!-- <section class="nxo-block" style="background-color: #71bf44;" >
  <div class="container">
   <div class="row justify-content-center pb-5">
      <div class="col-12 text-center">
        <h1 style="color: azure;">Health Counselling </h1>
      </div>
    </div>
        <Card3/>

  </div>
</section> -->

<section class="nxo-block" style="background-color: #71bf44;" >
  <div class="container">
   <div class="row justify-content-center pb-5">
      <div class="col-12 text-center">
        <h1 style="color: azure;">Health Counselling </h1>
      </div>
    </div>
        <Timeline/>

  </div>
</section>
<section class="nxo-block" style="background-image: url(../images/nx_bg13.png)">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <h1>Customer Reviews</h1>
        <p class="lead">A small river named Duden flows by their place and supplies it with the necessary regelialia. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
      </div>
    </div>

    <div class="row mt-5 align-items-center justify-content-center">
      <div class="col-md-8 col-lg-4">
        <div class="nxo-box">
          <div class="row no-gutters align-items-center">
            <div class="col-3">
              <img alt="image" class="img-fluid rounded" src="../images/people/1.jpg">
            </div>
            <div class="col-8 ml-auto">
              <p>
                <strong>Person Name</strong><br>
                <em>Co-founder at Company</em>
              </p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <p class="lead">
                "<a href="https://www.netageorg.com">Nextage Organics</a>  is a helpful way to lose weight or maintain your weight. 
                People think that losing weight by only try this product and not working out or eating a healthy meal. 
                The results start working after a few weeks or up to a few months, <a href="https://www.netageorg.com">Nextage Organics</a>  should be taken for your entire life, 
                not for the moment. "
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-lg-4 mt-4 mt-lg-0">
        <div class="nxo-box">
          <div class="row no-gutters align-items-center">
            <div class="col-3">
              <img alt="image" class="img-fluid rounded" src="../images/people/3.jpg">
            </div>
            <div class="col-8 ml-auto">
              <p>
                <strong>Person Name</strong><br>
                <em>House Wife</em>
              </p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <p class="lead">
                "Life should be live on vegetable, fruits and herbal products because it’s our ancient gift for us to live in pure way. It automatically keeps us from many diseases with strong mind and heart. Herbal has many nutrients which protect our health"
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-lg-4 mt-4 mt-lg-0">
        <div class="nxo-box">
          <div class="row no-gutters align-items-center">
            <div class="col-3">
              <img alt="image" class="img-fluid rounded" src="../images/people/2.jpg">
            </div>
            <div class="col-8 ml-auto">
              <p>
                <strong>Person Name</strong><br>
                <em>Teacher</em>
              </p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <p class="lead">
                "Their Teas and shakes are amazing. I don't feel like I'm drinking healthy. They have great flavors and taste so good. They always make me feel better within an hour. I can definitely tell a difference when I drink their products."
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col">
        <!-- <h1>How do I know I can trust these <br>reviews about <a href="https://www.netageorg.com">Nextage Organics</a>?</h1> -->
      </div>
    </div>
    
    <div class="row mt-5 align-items-center">
      <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-12 text-left">
        <div class="nxo-box nxo-touch p-5 rounded">
         <h1>How do I know I can trust these reviews about <a href="https://www.netageorg.com">Nextage Organics</a>?</h1>
          <h2> <strong class="float-xl-right d-lg-block d-xl-inline"></strong></h2>
          <!-- <p class="lead"><em>Copy Writers ambushed her, made her drunk.</em></p> -->
          <div class="row-50"></div> 
          <ul class="text-left lead"  >
            <li>  <p class="lead"> <strong>1.</strong> 3,551,863 reviews on ConsumerAffairs are verified.</p></li>
            <li>  <p class="lead"> <strong>2.</strong> We require contact information to ensure our reviewers are real.</p></li>
            <li>  <p class="lead"> <strong>3.</strong> We use intelligent software that helps us maintain the integrity of reviews.</p></li>
            <li>  <p class="lead"> <strong>4.</strong> Our moderators read all reviews to verify quality and helpfulness.</p></li>
          </ul>

          <p class="text-left pt-4"><a href="https://www.nextage.com" class="btn btn-primary">See more</a></p>
        </div>
      </div>
 

       
    </div>
  </div>
</section>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        






  <!-- <section class="nxo-block">
      <div class="container">
         <Gallery/>
      </div>
</section> -->



 <section class="nxo-block  pt-0">
      <div class="container">
         <div class="row text-center justify-content-center ">
            <img alt="image" class="img-fluid " src="../images/nx_health51.jpg">
         </div>
            
         <Subscribe/>
      </div>
  </section>

  
  </Baselayout>
