---
// Component Imports
import Tour from '../components/Tour.astro';
// You can import components from any supported Framework here!
// import VueCounter from '../components/VueCounter.vue';
import Baselayout from '../layout/Baselayout.astro';
// import Content1 from '../components/Content1.astro';
// import '../styles/style.css';
// import  '../styles/bootstrap.min.css';
// import Sl from '../components/App1.vue';
// import Sl1 from '../components/App2.vue';
import Myaccord from '../components/Myaccordion.astro';
import Myaccord1 from '../components/Myaccordian1.astro';
import Minislide from '../components/Minislide.astro';
import Minislide2 from '../components/Minislide2.astro';
import Minislide1 from '../components/Minislide1.astro';
import Timeline from '../components/Timeline.astro';
import Card from '../components/cards/Card.astro';
import Card1 from '../components/cards/Card1.astro';
import Card2 from '../components/cards/Card2.astro';
// import Gallery from '../components/Gallery.astro';
import Bmi from '../components/Bmi.astro';
import Bmi2 from '../components/Bmi2.vue';
import Subscribe from '../components/Subscribe.astro';
// import Slide_nsc from './App.vue';
// import Sliderapp from Sliderap.vue;
import Sliderapp2 from "../components/Sliderapp2.vue";
// import Sliderapp from "./Sliderapp.vue";
// import Slierapp from '../components/Sliderapp.vue';
// import Sliderapp from '../components/Slider.vue';
// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
// let title = 'Nextage Organics';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---   
	
	<Baselayout title="Nextage Organics">
    
  
<section>
  <div>
  <Sliderapp2 client:load/>
    
  </div>

</section>

 




   
    </Baselayout>