---
// Component Imports
import Tour from '../components/Tour.astro';
// You can import components from any supported Framework here!
// import VueCounter from '../components/VueCounter.vue';
import Baselayout from '../layout/Baselayout.astro';
// import Content1 from '../components/Content1.astro';
// import '../styles/style.css';
// import  '../styles/bootstrap.min.css';
// import Sl from '../components/App1.vue';
// import Sl1 from '../components/App2.vue';
import Myaccord from '../components/Myaccordion.astro';
import Myaccord1 from '../components/Myaccordian1.astro';
import Minislide from '../components/Minislide.astro';
import Minislide2 from '../components/Minislide2.astro';
import Minislide1 from '../components/Minislide1.astro';
import Timeline from '../components/Timeline.astro';
import Card from '../components/cards/Card.astro';
import Card1 from '../components/cards/Card1.astro';
import Card2 from '../components/cards/Card2.astro';
// import Gallery from '../components/Gallery.astro';
import Bmi from '../components/Bmi.astro';
import Bmi2 from '../components/Bmi2.vue';
import Subscribe from '../components/Subscribe.astro';
// import Slide_nsc from './App.vue';
// import Sliderapp from Sliderap.vue;
import Sliderapp from "../components/Sliderapp.vue";
// import Sliderapp from "./Sliderapp.vue";
// import Slierapp from '../components/Sliderapp.vue';
// import Sliderapp from '../components/Slider.vue';
// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
// let title = 'Nextage Organics';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---   
	
	<Baselayout title="Nextage Organics">
    
    <!-- <Content1/> -->
 
 
 
<!-- <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Border hero with cropped image and shadows</h1>
            <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img class="rounded-lg-3" src="../images/health360.png" alt="" width="720">
          </div>
        </div>
      </div> -->

      <!-- 
<section class="nxo-block">
  <div class="container">
      <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Border hero with cropped image and shadows</h1>
            <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img class="rounded-lg-3" src="bootstrap-docs.png" alt="" width="720">
          </div>
        </div>
      </div>
    </div>
</section> -->



<!-- <section class="nxo-block">
  <div class="container">
    
    <Sl1/>
    
  </div>
</section> -->

<!-- <section class="nxo-block">
  <div class="container">
    

    <div class="row align-items-center pt-2 pt-lg-5">
      <div class="col-12 col-md-8 col-lg-7">
        <h1><strong>Nutrition for healthy life</strong></h1>
        <div class="row-50"></div>
        <p class="lead"> Be a part of an exciting journey of helping <br>stay healthy and grow wealthy</p>
        <div class="row-50"></div>
        <p class="mt-4"><a class="btn btn-primary" href="https://www.nxtage.com"> Explore </a></p>
      </div>

      <div class="col-8 col-md-4 m-auto m-md-0 ml-md-auto pt-5">
        <img alt="health 360" width="600" height="400" class="img-fluid" src="../images/hero/slide1_health360.png">
      </div>
    </div>
  </div>
</section> -->


<!-- <section class="nxo-block py-0" style="background-image: url(../images/nx_main8.jpg);">
  <div class="container bg-r py-5 my-5" style="background-image: url(../images/hero/slide1_health360.png);">
  
    <div class="row py-5">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-left">
        <h1>Call to Action</h1>
        <p class="lead">
           Be a part of an exciting journey of helping <br>stay healthy and grow wealthy
        </p>
        <p class="mt-4">
          <a class="btn btn-primary" href="https://www.nxtage.com">Download</a>
        </p>
      </div>
    </div>
  </div>
</section> -->
  <!-- <Slide_nsc client:visible/> -->

<!-- <section class="nxo-block">
  <div>
    <Slide_nsc client:visible/>
    <Sliderapp client:visible/>
  </div>

</section> -->
<section>
  <div>
  <Sliderapp client:load/>
    
  </div>

</section>







<!-- <section class="nxo-block  p-2" style="background-image: url(../images/nx_main8.jpg);">
  <div class="container ">

          <div class="row flex-lg-row-reverse align-items-center g-5 py-6">
          
            <div class="col-10 col-sm-8 col-lg-6 text-center justify-content-center">
              <img src="../images/hero/slide11_health360.png" class="d-block mx-lg-auto img-fluid" alt="health 360" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                  
              <h1 height="99" class="display-5 fw-bold lh-1 mb-3"><strong>Nutrition for healthy life</strong></h1>
              <div class="row-60"></div><br>
               <h6 class="lead">  Be a part of an exciting journey of helping <br>stay healthy and grow wealthy</h6><br>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Explore</button>
              </div>
            </div>
          </div>
        
  </div>
</section>




<section class="nxo-block  p-2" style="background-image: url(../images/nx_main8.jpg);">
  <div class="container ">


          <div class="row flex-lg-row-reverse align-items-center g-5 py-6">
         
            <div class="col-10 col-sm-8 col-lg-6 text-left justify-content-left">
              
              <h1 height="99" class="display-5 fw-bold lh-1 mb-3"><strong>Your Health And Business Success is Our Goal, </strong></h1>
              <div class="row-60"></div><br>
               
               <h6 class="lead">  Nextage Organics Invites You To An 
                Incredible Healthy And Business Journey. <br></h6><br>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Explore</button>
               
              </div>
            </div>
            <div class="col-lg-6 text-left justify-content-left">
             
                  <img src="../images/hero/slide12_health360.png" class="d-block mx-lg-auto img-fluid" alt="health 360" width="700" height="500" loading="lazy">
              
            </div>
          </div>
  
  </div>
</section>





<section class="nxo-block" style="background-image: url(../images/nx_main8.jpg);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1 height="99" class="display-5 fw-bold lh-1 mb-3"><strong>HERBOVATION </strong></h1>
        <div class="row-60"></div><br>
        <p class="lead">A New Direction to Great Nutrition</p>

        <img alt="image" class="img-fluid mt-5" src="../images/slide 3v4.png">
      </div>
    </div>

    
  </div>
</section> -->







<!-- <section class="nxo-block" style="background-color:#42cb5f;">
  <div class="container">
      <Gallery/>
  </div>
</section> -->

<!-- <section class="nxo-block" style="background-color:#42cb5f;">
  <div class="container">
      <Card/>
  </div>
</section> -->

<!-- <section class="nxo-block" style="background-color:#42cb5f;">
  <div class="container">
      <Timeline/>
  </div>
</section> -->






<!-- <section class="nxo-block" >
  <div class="container">

  <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">
  </div >
</section > -->

<!-- 


<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



<article class="my-3" id="carousel">
      <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>Carousel</h3>
        <a class="d-flex align-items-center" href="../components/carousel/">Documentation</a>
      </div>

      <div>
        <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#555" dy=".3em">First slide</text></svg>

              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"/><text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text></svg>

              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#555"/><text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text></svg>

              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        </div>
      </div>
    </article>
 -->





<!-- 
<section class="nxo-block" style="background-image: url(images/hero/blue.svg);">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 mb-4 mb-md-0">
           <div class="containertxt"> 
              <img alt="image" src="../images/health360.png">
                <div class="txtonimage">
                    health 360
                </div>
           
           </div>
            
        
      </div>
      <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left">
        <h1>Nutrition for <br>healthy life </h1>
        <h2 class="lead">Be a part of an exciting journey of helping <br>stay healthy and grow wealthy</h2>
        <p><a class="btn btn-secondary mt-4" href="/home2">Explore</a></p>
      </div>
    </div>
  </div>
</section> -->







<section class="nxo-block team-2">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8">
        <h1><strong >Learn what <a href="">Nextage Organics</a> <br>can do for you</strong></h1>
      </div>
    </div>

    <div class="row-50"></div>

    <div class="row text-left justify-content-left" style="display: flex, align-items: flex-start;">
      <!-- <div class="col-sm-3 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="../images/learn2.png">

        <h4 class="row text-center justify-content-center"><strong>What is Nutrition?</strong></h4>
        <p>&nbsp</p>
        <ul class="list-group list-group-flush">
          <li></li>
          <li class="list-group-item">BALANCED DIET</li>
          <li class="list-group-item">HEALTHY LIFESTYLE AWAY FROM OBESITY</li>
          <li class="list-group-item">WHAT IS NEXTAGE ORGANICS</li>
          <li class="list-group-item">ROW A SMALL BUSINESS WORLD</li>
        </ul>
         
      </div> -->
      <div class="col-sm-33 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="../images/nx_health15.jpg">
        <div class="row-50"></div>
        <h5 class="row text-center justify-content-center"><strong>Why <a href="">Nutrition</a>?</strong></h5>
        <div class="row-50"></div>
        <!-- <p>&nbsp</p> -->
        <div class="list-group"> 
          <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            Nutrition
          </button>
          <button type="button" class="list-group-item list-group-item-action">Balanced Diet</button>
          <button type="button" class="list-group-item list-group-item-action">Healthy Lifestyle </button>
          <button type="button" class="list-group-item list-group-item-action">Stress Management</button> 
          <button type="button" class="list-group-item list-group-item-action" >  Chronic Disease Management      </button>
        </div>
      </div>

   

      <div class="col-sm-33 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="../images/nx_health17.jpg">
        <div class="row-50"></div>
        <h5 class="row text-center justify-content-center"><strong>What is <a href="">Nextage Organics</a>?</strong></h5>
         <!-- <p>&nbsp</p> -->
         <div class="row-50"></div>
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            About
          </button>
          <button type="button" class="list-group-item list-group-item-action">Wellness Centers</button>
          <button type="button" class="list-group-item list-group-item-action">Nutrition Experts     </button>
          <button type="button" class="list-group-item list-group-item-action" >    Health Network </button>
          <button type="button" class="list-group-item list-group-item-action">Dietry Supplements</button>
          <!-- <button type="button" class="list-group-item list-group-item-action"> Quality Assurence Counseling</button> -->
          
        </div>
      </div>





         <div class="col-sm-33 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="../images/nx_health36.png">
        <div class="row-50"></div>
        <h5 class="row text-center justify-content-center"><strong>Why <a href="">Nextage Organics</a>? </strong></h5>
        <!-- <h5 class="row text-center justify-content-center"><strong>Opportunity in Nutrition  </strong></h5> -->
        <!-- <p>&nbsp</p> -->
        <div class="row-50"></div>
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            Health 360 
          </button>
          <button type="button" class="list-group-item list-group-item-action">Comprehensive Health Management </button>
          <!-- <button type="button" class="list-group-item list-group-item-action">Nutrition Market in India</button> -->
          <button type="button" class="list-group-item list-group-item-action">  Personalized Diet and Counseling</button>
          <button type="button" class="list-group-item list-group-item-action">  Quality Produtcs      </button>
           
           <!-- <button type="button" class="list-group-item list-group-item-action">Covid Impact</button> -->
          <!-- <button type="button" class="list-group-item list-group-item-action">People Awareness</button>
          <button type="button" class="list-group-item list-group-item-action" >Others</button> -->
          <button type="button" class="list-group-item list-group-item-action">Customer Delight      </button>
          <!-- <button type="button" class="list-group-item list-group-item-action">Health Education / Sustainable Diet</button>
          <button type="button" class="list-group-item list-group-item-action" >Fitness concelling by Experts</button> -->
        </div>
      </div>
    </div>

  </div>
</section>


 



<section class="nxo-block" >

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1><strong >Here is how <a href="">Nextage Organics</a> can help </strong></h1>
        <div class="row-70"></div>

        <!-- <div class="row text-left pt-4">
          <div class="col-12 col-md-6">
            <Minislide1/>
          </div>
          
          <div class="col-12 col-md-6">
            <Myaccord1/>
          </div>
        </div> -->

        <div class="row text-center pt-3 pt-xl-5">
          <div class="col-12 col-sm-10 m-auto m-md-0 col-md-6 "> 
           <Minislide1/>
            </div>

          <div class="col-12 col-sm-10 m-auto m-md-0 col-md-6 pt-md-0">
           <Myaccord1/>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>





<section class="nxo-block" style="background-color: #f4fef5;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-left">
        <h1><strong>Resources of Interest for you</strong></h1>
        <p class="lead"></p>
      </div>
    </div>

    <div class="row text-left mt-5">
        <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto mr-md-auto ml-md-0">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kXCUY11aQWw" allowfullscreen></iframe>
            </div><br> 
          <!-- <img alt="image" class="img-fluid rounded" src="../images/nx_health23.png"> -->
          <h4 class="row text-center justify-content-center"><strong>Nutritional Research</strong></h4>
          <div class="row-52"></div>
          <p><a class="link-secondary" href="https://www.who.int/health-topics/nutrition">World Health Organisation</a></p>
          <p><a class="link-secondary" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3005655/">National Center for Biotechnology Information</a></p>
          <p><a  class="link-secondary" href="https://www.researchgate.net/figure/Enteral-nutrition-support-decision-tree_fig1_44583715">Research Gate</a></p>
          <p><a class="link-secondary" href="https://www.bapen.org.uk/81-nutrition-support">Nutritional Assessment</a></p>
          
        </div>

        <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto pt-5 pt-md-0">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/c06dTj0v0sM" allowfullscreen></iframe>
            </div><br>
            <!-- <img alt="image" class="img-fluid rounded" src="../images/nx_health27.jpg"> -->
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/c06dTj0v0sM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <h4 class="row text-center justify-content-center"><strong>Videos</strong></h4>
            <div class="row-52"></div> 
          <p><a class="link-secondary" href="https://www.who.int/health-topics/nutrition">Youtube Videos</a></p>
          <p><a class="link-secondary" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3005655/">Workshop Videos</a></p>
           <p><a class="link-secondary" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3005655/">Event Videos</a></p>
          <p><a class="link-secondary"href="https://www.researchgate.net/figure/Enteral-nutrition-support-decision-tree_fig1_44583715">Other Videos</a></p>
        </div>

      <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto ml-md-auto mr-md-0 pt-5 pt-md-0">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/krIgKr3IC7s" allowfullscreen></iframe>
            </div><br>
        <!-- <img alt="image" class="img-fluid rounded" src="../images/nx_health27.jpg"> -->
        <h4 class="row text-center justify-content-center"><strong>Health 360 </strong></h4>
          <div class="row-52"></div>
          <p><a class="link-secondary" href="https://www.who.int/health-topics/nutrition">Reviews</a></p>
          <p><a class="link-secondary" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3005655/">Vlog</a></p>
          <p><a class="link-secondary" href="https://www.researchgate.net/figure/Enteral-nutrition-support-decision-tree_fig1_44583715">Product Information</a></p>
          <p><a class="link-secondary" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3005655/">Gallery</a></p>
      </div>
    </div>
  </div> 
</section>


<!-- 
<section class="nxo-block bg-dark nxo-viewport" style="background-image: url(images/hero/blue.svg);">
  <div class="container align-items-center justify-content-center d-flex">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-md-10 col-lg-8">
        <h1>nextageorg Design Blocks is Open Source and free to use in your apps</h1>
        <p class="mt-5"><a href="https://www.nextageorg.com" class="btn btn-outline-light">Call to Action</a></p>
      </div>
    </div>
  </div>
</section>



<section class="nxo-block team-8">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8">
        <h1>Our Amazing Team</h1>
        <p class="lead">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      </div>
    </div>

    <div class="row-100"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="../images/people/8.jpg">
          </div>

          <div class="col-8">
            <h3><strong>Employee Name</strong></h3>
            <p class="lead">Position</p>

            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="../images/people/7.jpg">
          </div>

          <div class="col-8">
            <h3><strong>Employee Name</strong></h3>
            <p class="lead">Position</p>

            <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row-70"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="../images/people/9.jpg">
          </div>

          <div class="col-8">
            <h3><strong>Employee Name</strong></h3>
            <p class="lead">Position</p>

            <p>One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="../images/people/4.jpg">
          </div>

          <div class="col-8">
            <h3><strong>Employee Name</strong></h3>
            <p class="lead">Position</p>

            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="nxo-block team-3">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8">
        <h1><strong>Know more about Health 360</strong></h1>
      </div>
    </div>

    <div class="row-70"></div>

    <div class="row text-center justify-content-center mb-5">
      <div class="col-sm-22 m-sm-auto ">
        <img alt="image" class="img-fluid rounded-circle" src="../images/nx_health1--.png">

        <h3><strong>Health&nbsp;Check</strong></h3>
        <p><em>Complete Obese health Check will be done  </em></p>
        <button type="button" class="btn btn-success btn-sm"><a style="color:white; " href="./health">Know More &nbsp;<i class="fas fa-angle-right"></i></a></button>
      </div>

      <div class="col-sm-22 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="../images/nx_health30.png">

        <h3><strong>Counseling </strong></h3>
        <p><em>Entire Diet Counseling will be provided </em></p>
        <button type="button" class="btn btn-success btn-sm"> <a style="color:white; " href="./health">Know More &nbsp;<i class="fas fa-angle-right"></i></a></button>
      </div>
      <!-- <div class="col-sm-22 m-sm-auto">
         <Card2/>
      </div> -->

      <div class="col-sm-22 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="../images/nx_health28.png">

        <h3><strong>Consumption</strong></h3>
        <p><em> Diet Consumption will be Monitered and revised </em></p>
        <button type="button" class="btn btn-success btn-sm"><a style="color:white; " href="./health">Know More &nbsp;<i class="fas fa-angle-right"></i></a></button>
      </div>

      <!-- <div class="col-sm-2 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="../images/people/8.jpg">

        <h3><strong>Sara Doe</strong></h3>
        <p><em>Founder</em></p>
      </div> -->
    </div>

    <div class="row justify-content-center text-center">
        <!-- <div><p>&nbsp;</p></div> -->
      <div class="col-sm-22 m-sm-6">
          <img alt="image" class="img-fluid rounded-circle" src="../images/nx_health31.png"> 
          <h3><strong>Experience</strong></h3>
          <p><em>Experienced Fitness Expert and Nutrition Chart</em></p>
          <button type="button" class="btn btn-success btn-sm"><a style="color:white; " href="./health">Know More &nbsp;<i class="fas fa-angle-right"></i></a></button>
        
      </div>

      <div class="col-sm-22 m-sm-6">
          <img alt="image" class="img-fluid rounded-circle" src="../images/nx_health5.png">
          <h3><strong>Feedback</strong></h3>
           <p><em>Customer Feed back will be analysed for best experience</em></p>
          <button type="button" class="btn btn-success btn-sm"><a style="color:white; " href="./health">Know More &nbsp;<i class="fas fa-angle-right"></i></a></button>
        
      </div>

      <!-- <div class="col-sm-2 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="../images/people/5.jpg">

        <h3><strong>Sara Doe</strong></h3>
        <p><em>Founder</em></p>
      </div> -->
    </div>
  </div>
</section>
  
<section>
  
<Bmi2 client:load/>
</section>


<section class="nxo-block   "  >
<div class="">
    <div class="container">
        <div class="row">
          <div class="col text-center">
            <h1><strong>Fitness Chart </strong>   </h1>

            <div class="row text-left pt-4">
              <div class="col-12 col-md-6">
                    <div class="row mt-4">
                          <div class="col">
                              <img  class="img-fluid rounded" height="200" src="../images/bmi/BMR3.png">
                          </div>
                      
                      </div>
                       
              </div>


              <div class="col-12 col-md-6">
                      <div class="row mt-4">
                          <div class="col">
                              <img  class="img-fluid rounded" height="200" src="../images/bmi/BMI.png">
                          </div>
                      
                      </div>
                

              </div>
            </div>
          </div>
        </div>
      </div>

</div>
  
</section>


<!-- <section class="nxo-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 text-center">
        <h1>Watch</h1><iframe width="560" height="315" src="https://www.youtube.com/embed/c06dTj0v0sM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/c06dTj0v0sM" allowfullscreen></iframe>
        </div>
         

      </div>
    </div>
  </div>
</section> -->




<section class="nxo-block"style="background-image: url(../images/nx_bg15.png)">
  <div class="container">

    <div class="row text-center justify-content-center">
      <div class="col-8">
        <h1><strong>Why Us?  </strong></h1>
           <div class="row-50"></div>
        <h4 style="color:grey" ><strong> "ESSENCE OF NATURE, BLENDED FOR YOU" <br> <a href="">NEXTAGE ORGANICS  </a> INTRODUCES THE NEW HERBAPOTION!!</strong></h4>
            <div class="row-50"></div> 
      </div>
    </div>

    <div class="row text-lg-right align-items-center">
      <div class="col-12 col-sm-6 col-lg-3">
        <img alt="image" class="nxo-icon " src="../images/icons/plant.png">
        <h4><strong>Plant Nutrition </strong></h4>
        <p>Plant- Nutrition exists to create premium quality, organic and additive-free plant-based products.</p>

        <img alt="image" class="nxo-icon mt-3 mt-xl-5 " src="../images/icons/quality1.png">
        <h4><strong>Quality Supplements</strong></h4>
        <p>The company always produces affordable, high-quality supplements.</p>

        <img alt="image" class="nxo-icon mt-3 mt-xl-5" src="../images/icons/result.png">
        <h4><strong>Result Intensive</strong></h4>
        <p>Result Oriented Product </p>

        
      </div>

      <div class="col-12 col-sm-6 col-lg-3 text-left pt-3 pt-sm-0 order-lg-12">
        <img alt="image" class="nxo-icon" src="../images/icons/organic.png">
        <h4><strong>Organic  </strong></h4>
        <p>Duden flows by their place, behind the word mountains.</p>

        <img alt="image" class="nxo-icon mt-3 mt-xl-5" src="../images/icons/success.png">
        <h4><strong>Success Rate </strong></h4>
        <p>Separated they live in Bookmark right at the coast</p>

        <img alt="image" class="nxo-icon mt-3 mt-xl-5" src="../images/icons/business.png">
        <h4><strong>Business Opportunity  </strong></h4>
        <p>A small river named Duden flows by their place and supplies it</p>
      </div>

      <div class="col-7 col-sm-4 col-lg-4 m-auto pt-5 pt-lg-0 order-lg-1">
        <img alt="image" class="img-fluid" src="../images/products/nx_d_main4.png">
      </div>
    </div>
  </div>
</section>


<section class="nxo-block team-4">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8">
        <h1>Our Products</h1>
      </div>
    </div>

    <div class="row text-center mt-1">
      <div class="col-3">
        <img alt="image" class="img-fluid rounded" src="../images/products/nx_d_strawli.png">
        <!-- <h3><strong>John Smith</strong></h3>
        <p>Position</p>
        <p>A wonderful serenity has taken possession of my entire soul.</p> -->
      </div>

      <div class="col-3">
        <img alt="image" class="img-fluid rounded" src="../images/products/nx_p_plantli.png">
        <!-- <h3><strong>John Smith</strong></h3>
        <p>Position</p>
        <p>Pityful a rethoric question ran over her cheek.</p> -->
      </div>

      <div class="col-3">
        <img alt="image" class="img-fluid rounded" src="../images/products/nx_d_melonli.png">
        <!-- <h3><strong>John Smith</strong></h3>
        <p>Position</p>
        <p>And if she hasn’t been rewritten, then they are still using her.</p> -->
      </div>

      <div class="col-3">
        <img alt="image" class="img-fluid rounded" src="../images/products/nx_g_morli.png">
        <!-- <h3><strong>John Smith</strong></h3>
        <p>Position</p>
        <p>Wild Question Marks, but the Little Blind Text didn’t listen.</p> -->
      </div>
    </div>
     <div class="row text-center mt-1">
      <div class="col-3">
        <img alt="image" class="img-fluid rounded" src="../images/products/nx_p_buckli.png">
        <!-- <h3><strong>John Smith</strong></h3>
        <p>Position</p>
        <p>A wonderful serenity has taken possession of my entire soul.</p> -->
      </div>

      <div class="col-3">
        <img alt="image" class="img-fluid rounded" src="../images/products/nx_p_soyali.png">
        <!-- <h3><strong>John Smith</strong></h3>
        <p>Position</p>
        <p>Pityful a rethoric question ran over her cheek.</p> -->
      </div>

      <div class="col-3">
        <img alt="image" class="img-fluid rounded" src="../images/products/nx_p_milkli.png">
        <!-- <h3><strong>John Smith</strong></h3>
        <p>Position</p>
        <p>And if she hasn’t been rewritten, then they are still using her.</p> -->
      </div>

      <div class="col-3">
        <img alt="image" class="img-fluid rounded" src="../images/products/nx_d_chocoli.png">
        <!-- <h3><strong>John Smith</strong></h3>
        <p>Position</p>
        <p>Wild Question Marks, but the Little Blind Text didn’t listen.</p> -->
      </div>
    </div>
    
  </div>
</section>


  
<!-- 
 <section class="nxo-block-h">
      <div class="container">
          <div class="row justify-content-center">
          <div class="col col-md-8 text-center">
              <h1>How Nextage Organics can benefit your business</h1>
          </div>
          </div>
      </div>
    </section> -->

<!-- <section class="nxo-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-8 col-lg-6 m-md-auto ml-lg-0 mr-lg-auto">
        <img alt="image" class="img-fluid" src="../images/draws/how1.png">
      </div>
      <div class="col-12 col-lg-6 col-xl-5 ml-sm-auto pt-5 pt-lg-0">
        <h1></h1>

        <div class="row pt-4 pt-xl-5">
          <div class="col-12 col-sm-6 col-xl-5">
            <h4><strong>Business Support</strong></h4>
            <p>	Company that Supports Your Business </p>
          </div>
          <div class="col-12 col-sm-6 col-xl-5 m-auto pt-3 pt-sm-0">
            <h4><strong>Business Model</strong></h4>
            <p>	Transparent Distribution Model </p>
          </div>
        </div>

        <div class="row pt-3">
          <div class="col-12 col-sm-6 col-xl-5">
            <h4><strong>  Plan </strong></h4>
            <p>Competitive Compensation Comprehension Plan</p>
          </div>
          <div class="col-12 col-sm-6 col-xl-5 m-auto pt-3 pt-sm-0">
            <h4><strong>Training </strong></h4>
            <p>	Training Program to Assist You Start and Grow Your Own Business</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


 

    

    <!-- <section class="nxo-block-h">
      <div class="container">
          <div class="row justify-content-center">
          <div class="col col-md-8 text-center">
              <h1>Why Nextage Organics</h1>
          </div>
          </div>
      </div>
    </section>   -->
 
        
    <!-- Contents 15 -->
    <!-- <section class="nxo-block" style="background-image: url(../images/shapes/8.svg)">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-6 col-lg-5">
            <img alt="image" class="nxo-icon" src="../images/icons/github.svg">
            <h1>BECOME AN INDEPENDENT ASSOCIATE </h1>
            <p class="lead">When you are ready to become a part of Nextage Organics as a full-time or part-time Independent Nextage Organics Associate, you will open gateways to earn what you're worth, help people live healthier, sporty lives, spend more time with family and friends and work from home…wherever!</p>
          </div>
          <div class="col-10 col-sm-6 m-auto col-md-4 pt-4 pt-md-0">
            <img alt="image" class="img-fluid rounded-0" src="../images/draws/in.png">
          </div>
        </div>
      </div>
    </section> -->



<!-- <section class="nxo-block">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h1>HERB 'OVVATION - A NEW DIRECTION TO GREAT NUTRITION</h1>
        <p class="h2"><em>Right at the coast of the Semantics, a large language ocean.</em></p>
      </div>
    </div>

    <div class="row text-center pt-3 pt-xl-5">
      <div class="col-12 col-sm-10 m-auto m-md-0 col-md-6">
        <img alt="image" height="300" src="../images/draws/fresh.png">
        <p class="lead pt-3">We provide excellent quality products which are formulated under guidance of amazing health experts and bring to your doorsteps a healthy nutritional supplement to enhance a healthy lifestyle..</p>
      </div>

      <div class="col-12 col-sm-10 m-auto m-md-0 col-md-6 pt-5 pt-md-0">
        <img alt="image" height="300" src="../images/draws/innovate.png">
        <p class="lead pt-3">Launched in 2020, Nextage Organics has been researching and innovating ways to deliver the appropriate nutrients to your body so you feel your best. You can everyday, take advantage of  our  endeavour  with Nextage Organics premium supplements and health products..</p>
      </div>
    </div>
  </div>
</section> -->


 




<section class="nxo-block"  style="background-color: #f4fef5;">
  <div class="col-fill-left" style="background-image: url(images/health.jpg);">
  </div>

  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-md-5 text-center">
        <h1>Importance of Balanced Diet</h1>
        <p class="lead">A balanced diet doesn't cut out food groups; 
        it consists of a wide variety of foods to support your body 
        and keep you energised, motivated and healthy.</p>

        <p class="mt-4"><a href="https://www.nextageorg.com">Learn More <i class="fas fa-angle-right"></i></a></p>
      </div>
    </div>
  </div>
</section>

<section class="nxo-block" style="background-color: #f4fef5;">
  <div class="col-fill-right" style="background-image: url(images/nx_health21.jpg);">
  </div>

  <div class="container py-5">
    <div class="row"> 
      <div class="col-12 col-md-5 text-center">
        <h1>Balanced Diet Role in Our Life</h1>
        <p class="lead">A balanced diet supplies the nutrients to your body 
                        which needs to work effectively. Without balanced 
                        nutrition, our body is more prone to disease, 
                        infection, fatigue, and low performance.</p>
        <!-- <p class="mt-4 mb-5"><a class="btn btn-secondary" href="https://www.nextageorg.com">Button</a></p> -->

        <p>Follow us on</p>
        <p>
          <a href="https://www.nextageorg.com" class="mx-2 text-secondary"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.nextageorg.com" class="mx-2 text-secondary"><i class="fab fa-facebook" aria-hidden="true"></i></a>
          <a href="https://www.nextageorg.com" class="mx-2 text-secondary"><i class="fab fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.nextageorg.com" class="mx-2 text-secondary"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
          <a href="https://www.nextageorg.com" class="mx-2 text-secondary"><i class="fab fa-google" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
  </div>
</section>




  <section class="nxo-block" >
    <div class="container">
        <div class="row text-center justify-content-center">
          <div class="col-8">
            <h1><strong>Our Promise  </strong></h1>
              <div class="row-50"></div>
            <!-- <h4 class="custom_heading"><strong> “ESSENCE OF NATURE, BLENDED FOR YOU” <br> NEXTAGE ORGANICS INTRODUCES THE NEW HERBAPOTION!!</strong></h4> -->
                <div class="row-50"></div> 
          </div>
        </div>
      <div class="row text-center">
        <div class="col-12 col-md-8 m-auto col-lg-4">
          <div class="nxo-box nxo-touch">
            <img alt="image" class="nxo-icon" src="../images/icons/map.svg">
            <h2>Science and Safety </h2>
            <p>Experiential scientists put 
                product safety and 
                excellence above all. </p>
                <button type="button" class="btn btn-outline-success">Learn More</button>
                
          </div>
        </div>

        <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
          <div class="nxo-box nxo-touch">
            <img alt="image" class="nxo-icon" src="../images/icons/cloud.svg">
            <h2>Quality and Integrity </h2>
            <p>Separated they live in Bookmarksgrove right at the coast.</p>
            <button type="button" class="btn btn-outline-success">Learn More</button>
          </div>
        </div>

        <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
          <div class="nxo-box nxo-touch">
            <img alt="image" class="nxo-icon" src="../images/icons/package.svg">
            <h2>Tested and Certified </h2>
            <p>We invest in the latest expertise, technology and facilities.</p>
            <button type="button" class="btn btn-outline-success">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nxo-block  pt-0">
      <div class="container">
         <div class="row text-center justify-content-center ">
            <img alt="image" class="img-fluid " src="../images/nx_health51.jpg">
         </div>
            
         <Subscribe/>
      </div>
  </section>





<!-- <section class="nxo-block bg-dark">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="row">
        <img alt="image" height="40" class="ml-3 mr-3 mb-2 mt-2" src="../images/customers/adobe.svg">
        <img alt="image" height="40" class="ml-3 mr-3 mb-2 mt-2" src="../images/customers/amazon.svg">
        <img alt="image" height="40" class="ml-3 mr-3 mb-2 mt-2" src="../images/customers/ebay.svg">
        <img alt="image" height="40" class="ml-3 mr-3 mb-2 mt-2" src="../images/customers/samsung.svg">
        <img alt="image" height="40" class="ml-3 mr-3 mb-2 mt-2" src="../images/customers/orange.svg">
        <img alt="image" height="40" class="ml-3 mr-3 mb-2 mt-2" src="../images/customers/salesforce.svg">
      </div>
    </div>
  </div>
</section>  -->




  <!-- <script src="../assets/dist/js/bootstrap.bundle.min.js"></script> -->








   
    </Baselayout>