---
// import Header5 from '../components/Header5.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/cards/Card.astro';
import Card1 from '../components/cards/Card1.astro';
import Card2 from '../components/cards/Card2.astro';
import Subscribe from '../components/Subscribe.astro';
import Baselayout from '../layout/Baselayout.astro'; 

---
   <Baselayout title="Nextage Organics">
    
   





<!-- <section class="nxo-block">
  <div class="container">

<Card/>
  </div>
</section>
 -->

<section class="nxo-block" style="background-image: url(../images/nx_bg15.png)">
  <div class="container">

<Card1/>
  </div>
</section>

<!-- 
<section class="nxo-block">
  <div class="container">

<Card2/>
  </div>
</section>

<section class="nxo-block">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h1>Products  </h1>
      </div>
    </div>

    <div class="row mt-5 align-items-top">
      <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left">
        <div class="rounded">
          <div class="bg-dark p-3 text-center">
            <h2 class="font-weight-light">Vanilla</h2>
            <p class="h2"><strong>$9.90</strong></p>
          </div>

          <div class="bg-gray p-5 text-center">
            <p><img alt="image" height="200" src="../images/product/d_nut_vanilla.png"></p>
            <p class="h4"><strong>   Daily Nutrition </strong></p>
            <p>For Weight Control </p>

            <p class="text-center "><a href="https://www.nextage.com" class="btn btn-secondary">Choose Plan</a></p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left pt-4 pt-lg-0">
        <div class="rounded">
          <div class="bg-dark p-3 text-center">
            <h2 class="font-weight-light">Standard</h2>
            <p class="h2"><strong>$19.90</strong></p>
          </div>

          <div class="bg-gray p-5 text-center">
            <p><img alt="image" height="40" src="../images/icons/monitor.svg"></p>
            <p class="h4"><strong>For mid companies</strong></p>
            <p><br></p>
            <p>10 hours of support</p>
            <p>40MB of storage</p>
            <p>Subdomain</p>

            <p class="text-center pt-5"><a href="https://www.nextage.com" class="btn btn-secondary">Choose Plan</a></p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left pt-4 pt-lg-0">
        <div class="rounded">
          <div class="bg-dark p-3 text-center">
            <h2 class="font-weight-light">Business</h2>
            <p class="h2"><strong>$29.90</strong></p>
          </div>

          <div class="bg-gray p-5 text-center">
            <p><img alt="image" height="40" src="../images/icons/package.svg"></p>
            <p class="h4"><strong>For large companies</strong></p>
            <p><br></p>
            <p>10 hours of support</p>
            <p>40MB of storage</p>
            <p>Subdomain</p>

            <p class="text-center pt-5"><a href="https://www.nextage.com" class="btn btn-secondary">Choose Plan</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="nxo-block">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h1>Pricing Plans</h1>
      </div>
    </div>

    <div class="row mt-5 align-items-top">
      <div class="col-12 col-md-8 m-auto col-lg-4 text-center">
        <img alt="image" height="160" src="../images/p1.png">
        <h2><strong>Startup</strong></h2>
        <p class="h3 mb-4 mb-lg-5"><em>$9 / month</em></p>

        <p>10 hours of support</p>
        <p>40MB of storage</p>
        <p>Subdomain</p>

        <p class="text-center mt-4 mt-lg-5"><a href="https://www.nextage.com" class="btn btn-primary">Choose Plan</a></p>
      </div>

      <div class="col-12 col-md-8 col-lg-4 text-center m-auto pt-5 pt-lg-0">
        <img alt="image" height="60" src="../images/icons/life-buoy.svg">
        <h2><strong>Advanced</strong></h2>
        <p class="h3 mb-4 mb-lg-5"><em>$19 / month</em></p>

        <p>10 hours of support</p>
        <p>40MB of storage</p>
        <p>Subdomain</p>

        <p class="text-center mt-4 mt-lg-5"><a href="https://www.nextage.com" class="btn btn-primary">Choose Plan</a></p>
      </div>

      <div class="col-12 col-md-8 m-auto col-lg-4 text-center pt-5 pt-lg-0">
        <img alt="image" height="60" src="../images/icons/layers.svg">
        <h2><strong>Business</strong></h2>
        <p class="h3 mb-4 mb-lg-5"><em>$29 / month</em></p>

        <p>10 hours of support</p>
        <p>40MB of storage</p>
        <p>Subdomain</p>

        <p class="text-center mt-4 mt-lg-5"><a href="https://www.nextage.com" class="btn btn-primary">Choose Plan</a></p>
      </div>
    </div>
  </div>
</section>




<section class="nxo-block">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h1>Pricing Plans</h1>
      </div>
    </div>

    <div class="row mt-5 align-items-top">
      <div class="col-12 col-sm-10 col-md-6 col-lg-5 m-auto col-xl-3 text-left">
        <div class="bg-gray p-3 text-center rounded sl-1">
          <h2 class="font-weight-light">Startup</h2>
          <p class="h2">$99</p>
          <p class="text-center"><a href="https://www.nextage.com" class="btn btn-outline-secondary">Buy Now</a></p>

          <hr class="mt-5 mb-5">

          <p>10 hours of support</p>
          <p>40MB of storage</p>
          <p>Subdomain</p>
        </div>
      </div>

      <div class="col-12 col-sm-10 col-md-6 col-lg-5 m-auto col-xl-3 text-left pt-5 pt-md-0">
        <div class="bg-gray p-3 text-center rounded sl-1">
          <h2 class="font-weight-light">Advanced</h2>
          <p class="h2">$399</p>
          <p class="text-center"><a href="https://www.nextage.com" class="btn btn-secondary">Buy Now</a></p>

          <hr class="mt-5 mb-5">

          <p>10 hours of support</p>
          <p>40MB of storage</p>
          <p>Subdomain</p>
        </div>
      </div>

      <div class="col-12 col-sm-10 col-md-6 col-lg-5 m-auto col-xl-3 text-left pt-5 pt-xl-0">
        <div class="bg-gray p-3 text-center rounded sl-1">
          <h2 class="font-weight-light">Business</h2>
          <p class="h2">$999</p>
          <p class="text-center"><a href="https://www.nextage.com" class="btn btn-outline-secondary">Buy Now</a></p>

          <hr class="mt-5 mb-5">

          <p>10 hours of support</p>
          <p>40MB of storage</p>
          <p>Subdomain</p>
        </div>
      </div>

      <div class="col-12 col-sm-10 col-md-6 col-lg-5 m-auto col-xl-3 text-left pt-5 pt-xl-0">
        <div class="bg-gray p-3 text-center rounded sl-1">
          <h2 class="font-weight-light">Enterprise</h2>
          <p class="h2">Call Us</p>
          <p class="text-center"><a href="https://www.nextage.com" class="btn btn-outline-secondary">Contact</a></p>

          <hr class="mt-5 mb-5">

          <p>10 hours of support</p>
          <p>40MB of storage</p>
          <p>Subdomain</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="nxo-block">
      <div class="container">
         <Subscribe/>
      </div>
</section> -->




 <section class="nxo-block  pt-0">
      <div class="container">
         <div class="row text-center justify-content-center ">
            <img alt="image" class="img-fluid " src="../images/nx_health51.jpg">
         </div>
            
         <Subscribe/>
      </div>
  </section>
   
    </Baselayout>


