---
// import Header5 from '../components/Header5.astro';
// import Footer from '../components/Footer.astro';
import Subscribe from '../components/Subscribe.astro';
// import Header from '../components/Header1.astro';
import Baselayout from '../layout/Baselayout.astro'; 
---

  <Baselayout>
   

<section class="nxo-block"  style="background-image: url(images/nx_v7.png);">
  <div class="container">
    <div class="row justify-content-center">
        <div class="row justify-content-center pb-5">
        <!-- <h1><strong> We believe in equality for all</strong> </h1> -->
          <div class="col-12 text-center">
            <h1><strong> We believe in equality for all</strong> </h1>
             <div class="row-50"></div> 
              <div class="row-50"></div> 
              <div class="row-50"></div> 
                <p class="lead"> </p>

                <!-- <img alt="image" class="img-fluid mt-5" src="./images/health/health_con2.png"> -->
     
          </div>
        </div>
        
    </div>
  </div>
</section>


<section class="nxo-block pb-0"  >
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-12 col-lg-6 col-xl-5">
        <h1>Building a Workplace That Reflects Society  </h1>
         <div class="row-50"></div> 
        <p class="lead mb-5">

            Equality is a core value at <a href="https://www.netageorg.com">Nextage Organics</a>. We believe that businesses can be powerful platforms for social change and that it is our responsibility to further Equality for All. Creating a culture of Equality isn’t just the right thing to do; it’s also the smart thing. It empowers us to innovate, build deeper connections with our customers, and ultimately become a better company.
            We strive to create a workplace that reflects the diverse communities around us and where everyone feels seen, heard, valued, and empowered to succeed. Clearly, there is more work to be done, but together we can build a more equal workplace and world for all.
        </p>

        <!-- <p><strong>Works in every browser:</strong></p>
        <p class="h1 text-muted">
          <i class="fab fa-chrome mr-3"></i>
          <i class="fab fa-safari mr-3"></i>
          <i class="fab fa-firefox mr-3"></i>
          <i class="fab fa-edge"></i>
        </p> -->
      </div>
      <div class="col-12 col-md-8 m-auto ml-lg-auto mr-lg-0 col-lg-6 pt-5 pt-lg-0">
        <img alt="image" class="img-fluid" src="./images/nx_equality2.png">
      </div>
    </div>
  </div>
</section>


<section class="nxo-block pb-0" >
  <div class="container">
    <div class="row justify-content-center">
      
        <div class="col-12 text-center">
            <h1><strong>  Building a better world for everyone    </strong></h1>
            <div class="row-50"></div>
            <p class="lead">Our work centers on two key questions: How can we build better products that include everyone, and how can we anticipate risks and promote positive impacts of our products in the world? When we answer these questions by creating for — and with — diverse stakeholders, we unleash innovation and create products people can trust.
             “Our mission is to anticipate and shape the impact of our products in the world, driving intentional innovation through the lens of trust and inclusion.”
             </p>

            <img alt="image" class="img-fluid mt-5" src="./images/nx_v1.jpg">
        </div>
    </div>
  </div>
</section>


<!-- <section class="nxo-block" style="background-image: url(images/nx_bg21.jpg);" >
  <div class="container">
    <div class="row">
      <div class="col text-left">
        <h2>Join us on our journey</h2>
             <p>
                Creating ethical and inclusive products is everyone’s responsibility. We can’t do this alone — and we don’t have all the answers — but we are continually learning and iterating. We offer our learnings to the public as resources to help others on their journeys toward ethical and inclusive products.
                To better understand how you can center these considerations in your day-to-day, take our Building Ethical and Inclusive Products 
            </p>
      </div>
    </div>
  </div>
</section> -->


  


<section class="nxo-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center" > 
        <h1><strong>Food safety policy</strong></h1>
        <div class="row-50"></div>
        <p> We at <a href="https://www.netageorg.com">Nextage Organics</a> Private Limited are committed to produce safe and quality Vitamin/Mineral premixes and nutritional supplements.
             <a href="https://www.netageorg.com">Nextage Organics</a> supplements minimizes and eliminates any risks to quality and safety of the product by complying with prevailing standards. We adhere to Good manufacturing and Good Hygiene Practices throughout the process and are committed to meet all applicable requirements, including statutory and regulatory requirements and mutually agreed customer requirements related to Food safety.</p>
      </div>
    </div>

    <div class="row text-center mt-5">
      <div class="col-12 col-sm-4">
        <img alt="image" class="nxo-icon" src="./images/nx_ic21.png">
        <h3><strong>Green Initiative </strong></h3>
        <p> We are working to reduce the environmental impact of our packaging with the creation of our Green Initiative program</p>
      </div>

      <div class="col-12 col-sm-4 pt-4 pt-sm-0">
        <img alt="image" class="nxo-icon" src="./images/nx_ic22.png">
        <h3><strong>Clean nutrition </strong></h3>
        <p>We believe clean nutrition is the key to living a healthy, vibrant life. </p>
      </div>

      <div class="col-12 col-sm-4 pt-4 pt-sm-0">
        <img alt="image" class="nxo-icon" src="./images/nx_ic23.png">
        <h3><strong>Certified Organics  </strong></h3>
        <p>Most of our products are Certified Organic, gluten free, non-GMO and made without soy or artificial ingredients.</p>
      </div>
    </div>

    <div class="row mt-5 justify-content-center">
      <div class="col-8">
        <img alt="image" class="img-fluid" src="./images/nx_v2.png">
      </div>
    </div>
  </div>
</section>

    



  

    <!-- <section class="nxo-block">
          <div class="container">
            <Subscribe/>
          </div>
    </section> -->


<section class="nxo-block py-0" style="background-image: url(images/nx_v3.png);">
  <div class="container py-5 my-5 " >
    <div class="row text-left py-5">
      <div class="col-12 col-sm-10 m-auto ml-md-5 col-md-8 col-lg-6">
        <div class="nxo-box">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-8 text-center">
             <h1>Join us on our journey</h1>
                <p class="lead">Creating ethical and inclusive products is everyone’s responsibility. We can’t do this alone — and we don’t have all the answers — but we are continually learning and iterating. We offer our learnings to the public as resources to help others on their journeys toward ethical and inclusive products.
                </p>
              <p class="h3 mt-4"><a href="https://www.nextage.com">Learn More <i class="fas fa-angle-right"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- 
<section class="nxo-block">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-auto text-center">
        <a class="btn btn-outline-secondary" href="https://www.nextage.com">Download</a>
      </div>

      <div class="col-auto mt-4 mt-sm-0">
        <h2>Use nextage Design Blocks for free in your project</h2>
      </div>
    </div>
  </div>
</section> -->

 



      <section class="nxo-block  pt-0">
          <div class="container">
            <div class="row text-center justify-content-center ">
                <img alt="image" class="img-fluid " src="../images/nx_health51.jpg">
            </div>
                
            <Subscribe/>
          </div>
      </section>


    </Baselayout>



