
  <head>
    <meta charset="utf-8">
    <title>slide</title>
    <link rel="stylesheet" href="style.css">
    <style>
    /* *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body{
        min-height: 100vh;
        dispilay: flex;
        align-tems: center;
        justify-content: center;
        background: -webkit-linear-gradient(136deg, rgb(224,195,252) 0%, rgb(142,197,252) 100%);
      } */
      .slidewrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        /* max-width:500px; */
        width:  100%;
        /* height:auto; */
        height: 350px;
        /* padding:10px 10px 10px 10px; */
        /* border: 5px blue; */
  /* padding: 10px; */
        /* border: 2px solid black;  */
        border: 10px; 
        border-style: solid;
        border-color: #71bf44;
        border-radius: 8px;
        /* radius: 25px; */
      }
      .slidewrapper .img{
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .slidewrapper .img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        clip-path: circle(0% at 0% 100%);
        transition: all 0.7s;
      }
      #one:checked ~ .img-1 img{
        clip-path: circle(150% at 0% 100%);
      }
      #two:checked ~ .img-1 img,
      #two:checked ~ .img-2 img{
        clip-path: circle(150% at 0% 100%);
      }
      #three:checked ~ .img-1 img,
      #three:checked ~ .img-2 img,
      #three:checked ~ .img-3 img{
        clip-path: circle(150% at 0% 100%);
      }
      #four:checked ~ .img-1 img,
      #four:checked ~ .img-2 img,
      #four:checked ~ .img-3 img,
      #four:checked ~ .img-4 img{
        clip-path: circle(150% at 0% 100%);
      }
      #five:checked ~ .img-1 img,
      #five:checked ~ .img-2 img,
      #five:checked ~ .img-3 img,
      #five:checked ~ .img-4 img,
      #five:checked ~ .img-5 img{
        clip-path: circle(150% at 0% 100%);
      }
      .slidewrapper .sliders{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
        display: flex;
      }
      .slidewrapper .sliders label{
        border: 2px solid rgb(142,197,252);
        width: 13px;
        height: 13px;
        margin: 0 3px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      #one:checked ~ .sliders label.one,
      #two:checked ~ .sliders label.two,
      #three:checked ~ .sliders label.three,
      #four:checked ~ .sliders label.four,
      #five:checked ~ .sliders label.five{
        width: 35px;
        border-radius: 14px;
        background: rgb(142,197,252);
      }
      .sliders label:hover{
        background: rgb(142,197,252);
      }
      input[type="radio"]{
        display: none;
      }
    
    </style>
  </head>
   
    <div class="slidewrapper">
      <input type="radio" name="slide" id="one" checked>
      <input type="radio" name="slide" id="two">
      <input type="radio" name="slide" id="three">
      <input type="radio" name="slide" id="four">
      <input type="radio" name="slide" id="five">
      <div class="img img-1">
      <img src="./images/products/nx_d_strawi.png" alt="">
      
      <!-- <h5 class="col text-center"><strong>Quality</strong></h5> -->
      </div>
      <div class="img img-2">
        <img src="./images/nx_s7.jpg" alt="">
        <!-- <h5 class="col text-center"><strong>Quality</strong></h5> -->
      </div>
      <div class="img img-3">
        <img src="./images/nx_s5.jpg" alt=""> 
      </div>
      <div class="img img-4">
        <img src="./images/nx_s4.jpg" alt="">
      </div>
      <div class="img img-5">
        <img src="./images/nx_s2.jpg" alt="">
      <!-- </div><div class="row-52">-->
      </div> 
      <div class="sliders">
        <label for="one" class="one"></label>
        <label for="two" class="two"></label>
        <label for="three" class="three"></label>
        <label for="four" class="four"></label>
        <label for="five" class="five"></label>
      </div>
      
    </div>

 