---
    
---
<!-- <link rel="stylesheet" href="../styles/w3.css"> -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href={Astro.resolve('../styles/layout.css')}> -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
            <style lang="css">
           /* #accordian section p{
               display: none;
               text-align: center;
           }
           #accordian section:target p{
               display: block;
               text-align: center;
           }
           #accordian section a{
               text-align: center;
               color: black;
               text-decoration: none;

           }
           #accordian section a:hover{

               text-decoration: aqua;
           } */
       /* --------------------------- */


/*     
            * {
            font-family: helvetica;
            box-sizing: border-box;
            } */

            .myaccord {
            /* text-align: center; */
             /* font-size: 74px; */
             /* border-radius: 2px; */
            
            
            }

            .myaccordpanel {
            /* width: 500px; */
             margin: 0px auto;
             max-width:100%;
             height:auto;
              
            
            }
            .myaccordpanel .myaccordpanel-head {
            background: #71bf44;
            border-radius: 2px;
            /* max-width:100%; */
            height:auto;
            width: 100%;
            /* height: 42px; */
            border: none;
            outline: none;
            margin-top: 1px;
            padding:10px 0px 10px 30px;
            /* font-color:green; */
            color:#ffffff;
            text-align: left;
            /* font:strong; */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            display: grid;
            grid-template-columns: 90% 10% ;
            }



           
            .grid-item {
            /* background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8); */
            padding: 2px;
            /* font-size: 30px; */
            /* text-align: center; */
            }
            

           
            
            .myaccordpanel .myaccordpanel-head:hover {
            cursor: pointer;
            }
            .myaccordpanel .myaccordpanel-head:focus + .myaccordpanel-body {
            /* height: 140px; */
             height:auto;
            
            }
            .myaccordpanel .myaccordpanel-body {
            height: 0;
            background: #f4f4f4;
            overflow: hidden;
            border-bottom: 1px solid #e2e2e2;
            border-right: 1px solid #e2e2e2;
            border-left: 1px solid #e2e2e2;
            transition: height 0.4s;
            border-radius: 2px;
            }
            .myaccordpanel .myaccordpanel-body p {
            padding: 20px;
           
            
            }



        </style>
    </head>


<!-- <div class="block"> <Bmi client:visible /></div> -->
<!-- <div class="block"> <Ac client:visible /></div> -->


            <div class="mywrap">
                    <div class="myaccordaccordion">

                        <div class="myaccordpanel">
                            <button class="myaccordpanel-head" type="button"><div class="grid-item">Quality Products</div>  <div class="grid-item"><i class="fas fa-angle-double-down"></i> </div></button>
                            <div class="myaccordpanel-body"><p>We provide excellent quality products which are formulated under guidance of amazing health experts and bring to your doorsteps a healthy nutritional supplement to enhance a healthy lifestyle.
                            , with our intrinsic values of top-quality and care, we offer a wide range of products that vary from weight management, target nutrition and sports nutrition. </p></div>

                            <button class="myaccordpanel-head" type="button"><div class="grid-item">Customer 360 Degree - All health aspects of life </div>  <div class="grid-item"><i class="fas fa-angle-double-down"></i> </div></button>
                            <div class="myaccordpanel-body"><p>we have a varied range of products that complement your daily nutrition 360 Degree, help to maintain your overall health 360 Degree, and facilitate you to achieve your nutrition goals. 
                                 </p></div>

                            <button class="myaccordpanel-head" type="button"><div class="grid-item">Clinician & Industry proven methodology</div> <div class="grid-item"><i class="fas fa-angle-double-down"></i></div> </button>
                            <div class="myaccordpanel-body"><p>The role of clinical nutrition services is emphasized in the care of chronic diseases; the prevalence of chronic diseases continues to increase due to the living environment change, westernized dietary life and the aging population in the world. The effectiveness of clinical nutrition services in the treatment of diseases in inpatients has been demonstrated in several studies. Personalized nutrition based on ICT technology is able to provide more standardized and high-quality clinical nutrition services to the patients.
                                 </p></div>

                            <button class="myaccordpanel-head" type="button"><div class="grid-item">Professional advise making plans effective</div> <div class="grid-item"><i class="fas fa-angle-double-down"></i></div>  </button>
                            <div class="myaccordpanel-body"><p>To implement dietary recommendations, health-care professionals must perform multiple roles, including educational, modeling, organizing, advisory, and investigative roles. Not all these professionals have the same needs for nutrition information to perform each of these roles effectively. Increasing expectations that health-care professionals will include nutritional guidance as an integral component of all primary care come at a time when both positive and negative forces are at work. The positive forces include a growing awareness of the escalating social and economic costs of preventable disease and disability, the wide scientific consensus on the nature of dietary recommendations, the increased scope and number of programs in health promotion, and growing evidence of the success of such efforts in reducing nutritionrelated risk factors for chronic disease.
                                 </p></div>
                            <button class="myaccordpanel-head" type="button"><div class="grid-item">Customer Experience tracking </div><div class="grid-item"><i class="fas fa-angle-double-down"></i> </div> </button>
                            <div class="myaccordpanel-body"><p><strong><a href="https://www.netageorg.com">Nextage Organics</a></strong>  is a global nutrition company that changes people’s lives by helping them achieve a
                            healthy, active life and the opportunity for financial success. It sells various product lines through
                            a large national distributor network. </p></div>
                            <button class="myaccordpanel-head" type="button"> <div class="grid-item">Customer Success & results driven approach </div> <div class="grid-item"><i class="fas fa-angle-double-down"></i></div>  </button>
                            <div class="myaccordpanel-body"><p><strong><a href="https://www.netageorg.com">Nextage Organics</a></strong> one of the most important components to consider for your clients on their path to success. With each client, comes a different story and hopes in achieving different endeavors. Goal setting is the principal tool for helping anyone reach their full potential. The main purpose of setting a structured list of goals is to provide your clients with an anticipated future outcome. It’s sometimes hard for clients to keep motivated when they don’t have a set goal, plan, or target to where they plan to be in the future.
                            . </p></div>
                            <button class="myaccordpanel-head" type="button"><div class="grid-item">Referral Opportunity - Win-Win for all </div><div class="grid-item"><i class="fas fa-angle-double-down"></i> </div></button>
                            <div class="myaccordpanel-body"><p>As a dietitian in private practice, launching your business is an exciting step in your career. Perhaps you’ve transitioned away from a clinical setting, outpatient or long-term care job, and now are officially seeing clients on your own time. At some point, you may find yourself scratching your head and asking, “who’s going to refer me clients?” Building up a referral network is an important part of growing and marketing your nutrition practice. Navigating doctor referrals can be challenging and disparaging. Gaining face-time with a doctor (or anyone in their office) can be a major barrier.
                                . </p></div>
                            
                        </div>
                    </div>  
            </div>

<!-- ------------------- -->
        <!-- <main id="accordian">
                <section id="item1">
                <a href="#item1"><h1>item 1</h1></a>
                    <p>gvgvg</p>

                </section>
                
                <section id="item2">
                <a href="#item2"><h1>item 2</h1></a>
                    <p>gvgvg</p>

                </section>
               <section id="item3">
                <a href="#item3"><h1>item 3</h1></a>
                    <p>gvgvg</p>

                </section>


        </main> -->

