---
// import Basehead from '../components/Basehead.astro';
import Header from '../components/Header.astro';
// import Header2 from '../components/Header2.astro';
// import Header0app from '../components/Header0app.vue';

// Component Imports
// import Tour from '../components/Tour.astro';
// import Layout from '../components/layout/Layouts.astro';
//import Header from '../components/Header.astro';
// import Headernav from '../components/Headernav.astro';

//import Header3 from '../components/Header3.astro';
//import Header4 from '../components/Header4.astro';
// import Header5 from '../Header5.astro';
// import Header6 from '../components/Header6.astro';
// import Nav from '../components/Nav.astro';
// import Slider from '../components/Slider.astro';
// import Getintouch from '../components/Getintouch.astro';
// import Content1 from '../components/Content1.astro';

// import Myaccord from '../components/Myaccordion.astro';
// import Timeline from '../components/Timeline.astro';
import Footer from '../components/Footer.astro';

// import Content from '../components/Content.astro';
// import Style from '../styles/custom.css';
// import  '../styles/custom.css';
// You can import components from any supported Framework here!
// import VueCounter from '../components/VueCounter.vue';
// import Slider from '../components/App.vue';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
// let title = 'NextAge Organics';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
let {title} = Astro.props;
---
<!DOCTYPE html>
<html>

    <head>
        <!-- <Basehead title ="Nextage Organics"></Basehead> -->
    
            <!-- <link rel="stylesheet" href={Astro.resolve('../styles/layout.css')}> -->
        <title>{title}</title>        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="https://nextageorg.com/">
        <link rel="icon" type="image/x-icon" href="../images/favicon.png">
        <!-- <link rel="stylesheet" type="text/css" href="./public/nav/css/reset.min.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="./public/nav/css/style.min.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="./public/nav/css/style.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="./public/nav/css/ionicon.min.css"> -->
        <!-- <link rel="stylesheet" href={Astro.resolve('../styles/nav/css/style.min.css')}> -->
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
        <!-- <link rel="stylesheet" href={Astro.resolve('../styles/nav/css/reset.min.css')}> -->
        <!-- <link rel="stylesheet" href={Astro.resolve('../styles/nav/css/ionicon.min.css')}> -->
        <!-- <link rel="stylesheet" href={Astro.resolve('../styles/blocks/bootstrap-icons.min.css')}> -->
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"> -->
        <!-- <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/"> -->
        <!-- <link type="text/css" rel="stylesheet" href="css/nxtage_blocks.css"> -->
        <!-- <link type="text/css" rel="stylesheet" href="styles/style.css"> -->
        <!-- <link rel="stylesheet" href={Astro.resolve('../styles/blocks/blocks.css')}> -->
        <!-- <link rel="stylesheet" href={Astro.resolve('../styles/blocks/bootstrap.min.css')}> -->
        <script type="module" src={Astro.resolve('../styles/nav/js/script.js')}></script>

        <style global>
		@import "../styles/blocks/blocks.css";
		@import "../styles/blocks/bootstrap.min.css";
        @import "../styles/nav/css/style.min.css";
	    </style>
    </head>
    <body>
    <Header/>
   
        <slot />
    <Footer/>
    </body>
</html>